langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-postgres
langchain-groq
langgraph

sentence-transformers
transformers
huggingface-hub
torch
accelerate

pgvector
psycopg2-binary
sqlalchemy

pypdf
unstructured
unstructured_inference
python-docx
docx2txt
unstructured[pdf]


tiktoken
python-dotenv
streamlit

numpy
pandas
beautifulsoup4
html2text